html,body{margin:0;padding:0;width:100%;  height:100%;}
#main{
	width:100%;
	height:100%;
	text-align:center;
	font-size:0.6em;
	font-family:fantasy;
}
@media screen and(min-width:800px){
	#main{ width:800px;}
}
#canvas{
	width:100%;
	height:65%;
}
@media screen and(min-width:800px){
	#canvas{ width:800px;}
}	
#low{
	height:5%;
	display: inline-block;
}
#high{
	height:5%;
	display: inline-block;
}
button{
  background:#00ffff;
  color:#fff;
  border:none;
  position:relative;
  height:10%;
  font-size:1.6em;
  padding:0 2em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
}
button:hover{
  background:#fff;
  color:#00ffff;
}
button:before,button:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #00ffff;
  transition:400ms ease all;
}
button:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
button:hover:before,button:hover:after{
  width:100%;
  transition:800ms ease all;
}
#one{
	height:20%;
}
#lmg{
	width:2%;
	height:2%;
}
#hmg{
	width:2%;
	height:2%;
}
.stop-scrolling { 
  width:100%;
  height: 100%; 
  overflow: hidden; 
} 