html,body{margin:0;padding:0;width:100%;  height:100%;}
#main{
	width:100%;
	height:100%;
	text-align:center;
}
@media screen and(min-width:800px){
	#main{ width:800px;}
}
#canvas{
	width:100%;
	height:65%;
}
@media screen and(min-width:800px){
	#canvas{ width:800px;}
}	
#low{
	width:40%;
	border:1px solid crimson;
	display: inline-block;
}
#high{
	width:40%;
	border:1px solid crimson;
	display: inline-block;
}
.stop-scrolling { 
  width:100%;
  height: 100%; 
  overflow: hidden; 
} 